setuptools<81
adafruit-blinka==8.50.0
adafruit-extended-bus==1.0.2
adafruit-circuitpython-scd30==2.2.16
adafruit-circuitpython-sgp40==1.3.21
adafruit-circuitpython-lps2x==3.0.15
adafruit-circuitpython-msa301==1.3.13
